* {
  margin: 0;
  padding: 0
}

@font-face{
  font-family: Segoe UI;
  src: url('../fonts/SegoePro-Regular.ttf');
}

a {
  color: #5d5d5d !important
}

a:hover {
  text-decoration: none !important
}

.excet-active {
  border-bottom: 4px solid #ff5722;
  border-radius: 4px
}

.navbar-fixed-top {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: #fff
}

.navbar-fixed-top.cbp-af-header-shrink {
  padding: 10px 0
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none
}

#Havitat_web {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #fff
}

@keyframes fadein {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

#havitat_web {
  position: relative;
  width: 100%;
  height: auto;
  left: 0;
  top: 0
}

#explore_neighborhood_on_havita {
  position: relative;
  width: 100%
}

#background {
  fill: #fff7f3
}

.background {
  position: relative;
  width: 100%;
  height: 635.778px;
  transform: matrix(1, 0, 0, 1, 0, 0)
}

#image-2 {
  position: relative;
  width: 100%;
  height: auto
}

#home-1 {
  position: relative;
  width: 100%;
  height: auto;
  --web-animation: fadein 0.3s ease-out;
  cursor: pointer
}

#Take_a_deep_dive_and_browse_or {
  position: relative;
  width: 100%;
  line-height: 30px;
  margin-top: 2rem;
  text-align: center;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #777575
}

.title-underline {
  background: #fe5100;
  width: 5%;
  height: 5px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.comman-para {
  text-align: center
}

.Rectangle_4 {
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px
}

#Explore_neighborhoods_on_Havit {
  position: relative;
  width: 100%;
  line-height: 78px;
  margin-top: -19px;
  text-align: center;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  color: #343333;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem
}

#Best_Properties_to_buy_in {
  position: relative;
  width: 100%;
  height: auto
}

#background_ {
  background: #f5f5f5
}

.background_ {
  position: absolute;
  width: 100%;
  height: 695px;
  left: 0;
  top: 0
}

#text-best_properties_to_buy {
  position: relative;
  width: 100%;
  height: 114px;
  margin-top: 1rem;
  padding-top: 2.5rem
}

#Explore_the_new_properties_ava {
  width: 100%;
  line-height: 30px;
  text-align: center;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000
}

#Rectangle_163 {
  fill: #fe5100
}

.Rectangle_163 {
  position: absolute;
  width: 85px;
  height: 5px;
  left: 50%;
  top: 71px
}

#Best_properties_To_buy_in_Maka {
  text-align: center;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  color: #343333
}

.responsive-menu {
  display: none
}

#image {
  position: relative;
  width: auto;
  height: 443px;
  overflow: hidden;
  margin-top: 2.75rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem
}

.image-1 {
  position: absolute;
  width: 355px;
  height: 433px;
  left: 0;
  top: 1px
}

#ID01 {
  position: absolute;
  width: 100%;
  height: 433px;
  left: 0;
  top: 0;
  --web-animation: fadein 0.3s ease-out;
  cursor: pointer
}

.image-1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, .5);
  border-radius: 13px
}

#Rectangle_208 {
  opacity: .38;
  fill: #000
}

.Rectangle_208 {
  position: absolute;
  width: 351px;
  height: 433px;
  left: 0;
  top: 0
}

#Atlanta_GA__Downtown {
  left: 18px;
  top: 25px;
  position: absolute;
  width: 174px;
  z-index: 2;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  color: #fff
}

#image-2_ba {
  position: absolute;
  width: 351px;
  height: 200px;
  left: 383px;
  top: 1px
}

#ID02 {
  position: absolute;
  width: 351px;
  height: 200px;
  left: 0;
  top: 0
}

#Rectangle_209 {
  opacity: .38;
  fill: #000
}

.Rectangle_209 {
  position: absolute;
  width: 351px;
  height: 200px;
  left: 0;
  top: 0
}

#ScottsdaleAZ__North_Scottsdale {
  left: 20px;
  top: 27px;
  position: absolute;
  width: 269px;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  color: #fff
}

#image-3 {
  position: absolute;
  width: 351px;
  height: 200px;
  left: 383px;
  top: 234px
}

#ID03 {
  position: absolute;
  width: 351px;
  height: 200px;
  left: 0;
  top: 0
}

#Rectangle_210 {
  opacity: .38;
  fill: #000
}

.Rectangle_210 {
  position: absolute;
  width: 351px;
  height: 200px;
  left: 0;
  top: 0
}

#Austin__TX_Rosedale {
  left: 20px;
  top: 31px;
  position: absolute;
  width: 144px;
  line-height: 48px;
  margin-top: -12.5px;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  color: #fff
}

#image-4 {
  position: absolute;
  width: 351px;
  height: 433px;
  left: 766px;
  top: 0
}

#ID04 {
  position: absolute;
  width: 351px;
  height: 433px;
  left: 0;
  top: 0
}

#Rectangle_214 {
  opacity: .18;
  fill: #000
}

.Rectangle_214 {
  position: absolute;
  width: 351px;
  height: 433px;
  left: 0;
  top: 0
}

#Boston_MA_Hyde_Park {
  left: 17px;
  top: 26px;
  position: absolute;
  width: 163px;
  line-height: 48px;
  margin-top: -12.5px;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  color: #fff
}

#image-5 {
  position: absolute;
  width: 351px;
  height: 200px;
  left: 1149px;
  top: 0
}

#ID05 {
  position: absolute;
  width: 351px;
  height: 200px;
  left: 0;
  top: 0
}

#Rectangle_212 {
  opacity: .45;
  fill: #000
}

.Rectangle_212 {
  position: absolute;
  width: 351px;
  height: 200px;
  left: 0;
  top: 0
}

#Oakland_CA_Longfellow {
  left: 20px;
  top: 26px;
  position: absolute;
  width: 177px;
  line-height: 48px;
  margin-top: -12.5px;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  color: #fff
}

#image-6 {
  position: absolute;
  width: 351px;
  height: 200px;
  left: 1149px;
  top: 233px
}

#ID06 {
  position: absolute;
  width: 351px;
  height: 200px;
  left: 0;
  top: 0
}

#Rectangle_211 {
  opacity: .45;
  fill: #000
}

.Rectangle_211 {
  position: absolute;
  width: 351px;
  height: 200px;
  left: 0;
  top: 0
}

#Newton__MA_Chestnut_Hill {
  left: 20px;
  top: 31px;
  position: absolute;
  width: 206px;
  line-height: 48px;
  margin-top: -12.5px;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  color: #fff
}

#image-7 {
  position: absolute;
  width: 351px;
  height: 443px;
  left: 1533px;
  top: 0
}

#ID07 {
  position: absolute;
  width: 351px;
  height: 443px;
  left: 0;
  top: 0
}

#Rectangle_213 {
  opacity: .45;
  fill: #000
}

.Rectangle_213 {
  position: absolute;
  width: 351px;
  height: 443px;
  left: 0;
  top: 0
}

#Sandy_Sprin_North_Spring {
  left: 17px;
  top: 26px;
  position: absolute;
  width: 209px;
  line-height: 48px;
  margin-top: -12.5px;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  color: #fff
}

#up {
  position: absolute;
  width: 49px;
  height: 49px;
  left: 90%;
  top: 50%;
  cursor: pointer;
  z-index: 2
}

#Ellipse_7 {
  fill: #fff;
  stroke: #fe5100;
  stroke-width: 3px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto
}

.Ellipse_7 {
  position: absolute;
  width: 49px;
  height: 49px;
  left: 0;
  top: 0
}

#up-chevron {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 16px;
  top: 16px
}

#havitat_knowledge_base {
  position: relative;
  width: 100%;
  height: auto
}

#background_b {
  fill: #fff7f3
}

.background_b {
  position: absolute;
  width: 100%;
  height: 600px;
  left: 0;
  top: 5px
}

#bayer_a_home {
  position: absolute;
  width: 324px;
  height: 181px;
  left: 75%;
  top: 68px
}

#BAYER_A_HOME_b {
  left: 0;
  top: 100px;
  position: absolute;
  width: 143px;
  line-height: 143px;
  margin-top: -61.5px;
  text-align: center;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #343333
}

#With_35filters_ana_custom_Keyw {
  left: 0;
  top: 141px;
  position: absolute;
  width: 325px;
  line-height: 20px;
  margin-top: -2.5px;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #343333
}

#property-search-buyer-92fe08-3 {
  position: absolute;
  width: 95px;
  height: 79.8px;
  left: 2px;
  top: 0
}

#seller_home {
  position: absolute;
  width: 334px;
  height: 195px;
  left: 628px;
  top: 333.441px
}

#SELLER_A_HOME {
  left: 10px;
  top: 117px;
  position: absolute;
  width: 147px;
  line-height: 143px;
  margin-top: -61.5px;
  text-align: center;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #343333
}

#With_35filters_ana_custom_Keyw_b {
  left: 10px;
  top: 155px;
  position: absolute;
  width: 325px;
  line-height: 20px;
  margin-top: -2.5px;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #343333
}

#property-search-buyer-92fe08-3_ca {
  position: absolute;
  width: 130px;
  height: 109.2px;
  left: 0;
  top: 0
}

#Lesser_a_home {
  position: absolute;
  width: 324px;
  height: 180px;
  left: 75%;
  top: 348.441px
}

#LESSER_A_HOME {
  left: 0;
  top: 102px;
  position: absolute;
  width: 149px;
  line-height: 143px;
  margin-top: -61.5px;
  text-align: center;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #343333
}

#With_35filters_ana_custom_Keyw_cd {
  left: 0;
  top: 140px;
  position: absolute;
  width: 325px;
  line-height: 20px;
  margin-top: -2.5px;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #343333
}

#property-search-buyer-92fe08-3_ce {
  position: absolute;
  width: 95px;
  height: 79.8px;
  left: 2px;
  top: 0
}

#renter_home {
  position: relative;
  width: 100%;
  height: 200px;
  margin-bottom: 10%
}

#RENTER_A_HOME {
  line-height: 46px;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #343333
}

#With_35filters_ana_custom_Keyw_ch {
  width: 100%;
  line-height: 20px;
  margin-top: -2.5px;
  text-align: left;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #343333
}

#how-to-write-a-winning-offer-l {
  width: 109px;
  height: 109px
}

#havitat_knowledge_base_cj {
  position: relative;
  width: 100%;
  height: auto;
  margin-left: 7%
}

#Rectangle_8 {
  background: #209790;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  padding: 1% 10% 2% 10%;
  width: 100%;
  border-radius: 10px;
  outline: 0
}

.Rectangle_8 {
  position: relative;
  width: 211px;
  height: 34px
}

#See_all_the_guides {
  left: 17px;
  top: 279px;
  position: absolute;
  width: 157px;
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #fff
}

#Everything_you_need_know_when_ {
  width: 100%;
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  color: #777575
}

#_Havitat_Knowledge_Base_______ {
  width: 100%;
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  color: #343333
}

#footer {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 1.75rem;
  margin-top: 1.75rem
}

#background_cp {
  fill: #f5f5f5
}

.background_cp {
  display: none;
  position: absolute;
  width: 100%;
  height: 658px;
  left: -.5px;
  top: -46px;
  transform: matrix(1, 0, 0, 1, 0, 0)
}

#Ellipse_2 {
  fill: #cacaca
}

.Ellipse_2 {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 0;
  top: 0
}

#facebook_cs {
  position: absolute;
  width: 11px;
  height: 10px;
  left: 7px;
  top: 7px
}

#Ellipse_3 {
  fill: #cacaca
}

.Ellipse_3 {
  position: absolute;
  width: 25px;
  height: 24px;
  left: 0;
  top: 0
}

#instagram-sketched {
  position: absolute;
  width: 11px;
  height: 10px;
  left: 7px;
  top: 7px
}

#Ellipse_1 {
  fill: #cacaca
}

.Ellipse_1 {
  position: absolute;
  width: 24.203px;
  height: 24.587px;
  left: 0;
  top: 0
}

#twitter_cy {
  position: absolute;
  width: 11px;
  height: 10px;
  left: 6.562px;
  top: 7.436px
}

#Ellipse_6 {
  fill: #cacaca
}

.Ellipse_6 {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 0;
  top: 0
}

#youtube_c {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 7px;
  top: 7px
}

#Copyright_2020_Hevitet_Philipp {
  line-height: 55px;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #9e9e9e
}

.socialIcon {
  margin-top: 18.5px
}

#Line_5 {
  fill: transparent;
  stroke: #707070;
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto
}

.Line_5 {
  width: 100%;
  height: 1px;
  transform: matrix(1, 0, 0, 1, 0, 0);
  margin-top: 2.75rem
}

#Became_a_Lessor_Seller_registr {
  line-height: 35px;
  margin-top: 4rem;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #000
}

#quick_links {
  justify-content: center
}

#About_us_Write_us_Terms__Condi {
  line-height: 35px;
  margin-top: 1.5rem;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #000
}

#Quick_links________ {
  line-height: 55px;
  margin-top: -17.5px;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #000
}

#havitat_markets {
  text-align: left;
  margin-left: 2.75rem;
  margin-right: 2.75rem
}

#Havitat_Markets_c {
  line-height: 30px;
  margin-top: -5px;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #000
}

#___Houses_for_Rent_in_Makati_D {
  line-height: 35px;
  margin-top: 2rem;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #000;
  text-align: left
}

#subscribe {
  margin-left: 10px
}

#Subscribe_dc {
  line-height: 55px;
  margin-top: -17.5px;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #000
}

#your_email_address {
  margin-top: 2rem
}

#Rectangle_29 {
  fill: transparent;
  stroke: #707070;
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
  outline: 0;
  border: .5px solid #9e9e9f;
  height: 50px;
  width: 100%;
  padding-left: 7px;
  border-radius: 5px
}

#Your_Email_address_df {
  left: 10px;
  top: 12px;
  position: absolute;
  width: 150px;
  line-height: 55px;
  margin-top: -18.5px;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #000
}

#subscribe_dg {
  margin-top: 2rem
}

#Rectangle_30 {
  background: #f55941;
  padding: 3% 34% 3% 34%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 10px;
  outline: 0 !important
}

.Rectangle_30 {
  position: absolute;
  width: 343px;
  height: 49px;
  left: 0;
  top: 0
}

#subscribe_di {
  left: 119px;
  top: 11px;
  position: absolute;
  width: 106px;
  line-height: 55px;
  margin-top: -17.5px;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase
}

#find_your_perfect_home {
  position: relative;
  width: 96%;
  height: 622px;
  display: block;
  margin-left: 1.75rem;
  margin-right: 1.75rem;
  margin-top: 2.75rem
}

#image_dk {
  position: absolute;
  width: 100%;
  height: 622px;
  left: 0;
  top: 0
}

#pexels-binyamin-mellish-106399 {
  position: absolute;
  width: 100%;
  height: 622px;
  left: 0;
  top: 0
}

#Rectangle_160 {
  opacity: .7;
  background: #000;
  height: 100%;
  width: 100%;
  border-radius: 12px
}

.Rectangle_160 {
  width: 100%;
  height: 100%
}

#Find_Your_Parfect_Home {
  position: relative;
  width: 100%;
  text-align: center;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  color: #fff;
  padding-top: 7rem
}

#search {
  position: relative;
  width: 100%;
  height: 84px;
  text-align: center
}

#Rectangle_164 {
  fill: #fff;
  fill: #fff;
  height: 100%;
  width: 40%;
  font-size: 40px;
  color: #9e9e9e;
  padding-left: 7px;
  border-bottom-left-radius: 5px;
  outline: 0
}

.Rectangle_164 {
  position: absolute;
  width: 760px;
  height: 95px;
  left: 0;
  top: 0
}

#Rectangle_165 {
  background: #209790;
  position: absolute;
  width: 115px;
  height: 84px;
  left: 70%;
  top: 0;
  --web-animation: fadein 0.3s ease-out;
  cursor: pointer;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px
}

.Rectangle_165 {
  position: absolute;
  width: 115px;
  height: 95px;
  left: 653px;
  top: 0;
  --web-animation: fadein 0.3s ease-out;
  cursor: pointer
}

#rentsale {
  position: relative;
  height: 45px;
  margin-left: 30%;
  margin-top: 10%
}

#sale {
  width: 299px;
  height: 45px;
  display: flex
}

#Rent {
  width: 100%;
  text-align: center;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  color: #fff;
  text-transform: uppercase;
  opacity: 1;
  padding-top: 5px
}

#Rectangle_166 {
  background: #fe5100;
  height: 100%;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px
}

.Rectangle_166 {
  position: relative;
  width: 140px;
  height: 45px;
  --web-animation: fadein 0.3s ease-out;
  cursor: pointer
}

#Rectangle_184 {
  background: rgba(132, 128, 128, .4);
  height: 100%;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer
}

.Rectangle_184 {
  position: relative;
  width: 140px;
  height: 45px
}

#Sell {
  width: 100%;
  text-align: center;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  color: #fff;
  text-transform: uppercase;
  opacity: 1;
  padding-top: 5px
}

.header {
  position: relative;
  width: 100%;
  height: 108.421px;
  left: 0;
  top: 0
}

#Rectangle_1 {
  fill: #fff7f3
}

.Rectangle_1 {
  position: absolute;
  width: 100%;
  height: 108.421px;
  left: 0;
  top: 0
}

.logo {
  position: absolute;
  width: 215.652px;
  height: 87.459px;
  left: 36.739px;
  top: 10px
}

.Havitat {
  left: 42%;
  top: 22px;
  position: absolute;
  width: 158px;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  color: #fe5100;
  user-select: none
}

#sell {
  left: 73%;
  top: 34px;
  position: absolute;
  width: 39px;
  --web-animation: fadein 0.3s ease-out;
  cursor: pointer;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #707070
}

#Rent_d {
  left: 78%;
  top: 34px;
  position: absolute;
  width: 51px;
  --web-animation: fadein 0.3s ease-out;
  cursor: pointer;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #fe5100
}

#Rectangle_13 {
  fill: #fe5100
}

.Rectangle_13 {
  position: absolute;
  width: 35px;
  height: 4px;
  left: 78%;
  top: 74px
}

#Rectangle_183 {
  background: #1f928c;
  color: #fff;
  font-size: 22px;
  padding: 6%;
  border-radius: 50px;
  outline: 0 !important;
  width: 100%
}

.Rectangle_183 {
  position: absolute;
  width: 182px;
  height: 57px;
  left: 85%;
  top: 26px
}

.ease {
  width: 0;
  height: auto;
  background-color: rgb(17 206 196);
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease
}

.Rectangle_183:hover .ease {
  width: 100%
}

#Sign_in {
  left: 88.5%;
  top: 39px;
  position: absolute;
  width: 76px;
  --web-animation: fadein 0.3s ease-out;
  cursor: pointer;
  line-height: 44px;
  margin-top: -10px;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #fff
}

#property_sale_ {
  position: absolute;
  width: 1206px;
  height: 2073px;
  background-color: #fff;
  overflow: hidden
}

@keyframes fadein {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

#property_rent {
  position: absolute;
  width: 1621px;
  height: 3849px;
  left: -415px;
  top: 0;
  overflow: visible
}

#Rent_z {
  opacity: .85;
  left: 0;
  top: 0;
  position: absolute;
  overflow: visible;
  width: 36px;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  color: #fe5100
}

#registr {
  position: absolute;
  width: 90px;
  height: 33px;
  left: 1393px;
  top: 47px;
  display: none;
  overflow: visible
}

#Rectangle_2 {
  fill: #fff
}

.Rectangle_2 {
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, .161));
  position: absolute;
  overflow: visible;
  width: 105px;
  height: 48px;
  left: 0;
  top: 0
}

#Register {
  left: 13px;
  top: 6px;
  position: absolute;
  overflow: visible;
  width: 64px;
  line-height: 33px;
  margin-top: -8px;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  color: #707070
}

#search_property {
  position: relative;
  width: 100%;
  height: 55px;
  text-align: center;
  margin-top: 1.75rem;
  margin-bottom: 3rem
}

#Search_Property_bc {
  left: 18px;
  top: 18px;
  position: absolute;
  overflow: visible;
  width: 99px;
  line-height: 53px;
  margin-top: -19.5px;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #000
}

#property_type {
  position: relative;
  width: 100%;
  height: 78px;
  overflow: visible
}

#Property_type_be {
  left: 0;
  top: 0;
  position: relative;
  overflow: visible;
  width: 100%;
  line-height: 33px;
  margin-top: -7.5px;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #343333;
  margin-bottom: 5%
}

#apartment {
  position: absolute;
  width: 117px;
  height: 35px;
  left: 0;
  top: 43px;
  overflow: visible
}

#Rectangle_169 {
  opacity: .5;
  fill: #fff;
  stroke: #707070;
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto
}

.Rectangle_169 {
  position: absolute;
  overflow: visible;
  width: 117px;
  height: 35px;
  left: 0;
  top: 0
}

#Appartment {
  left: 17px;
  top: 8px;
  position: absolute;
  overflow: visible;
  width: 84px;
  line-height: 33px;
  margin-top: -9px;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  color: #777575
}

#house {
  position: absolute;
  width: 117px;
  height: 35px;
  left: 140px;
  top: 43px;
  overflow: visible
}

#ractangle-stroke {
  opacity: .85;
  fill: #fe5100
}

.ractangle-stroke {
  position: absolute;
  overflow: visible;
  width: 117px;
  height: 35px;
  left: 0;
  top: 0
}

#House_bk {
  left: 37px;
  top: 8px;
  position: absolute;
  overflow: visible;
  width: 44px;
  line-height: 33px;
  margin-top: -9px;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  color: #fff
}

#sort_by_price {
  position: relative;
  width: 257px;
  height: 79px;
  overflow: visible
}

#high_to_low {
  position: absolute;
  width: 117px;
  height: 35px;
  left: 0;
  top: 44px;
  overflow: visible
}

#Rectangle_169_bn {
  opacity: .85;
  fill: #fe5100;
  stroke: #fe5100;
  stroke-width: 1.5px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto
}

.Rectangle_169_bn {
  position: absolute;
  overflow: visible;
  width: 117px;
  height: 35px;
  left: 0;
  top: 0
}

#High_to_Low_bo {
  left: 17px;
  top: 8px;
  position: absolute;
  overflow: visible;
  width: 84px;
  line-height: 33px;
  margin-top: -9px;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  color: #fff
}

#low_to_high {
  position: absolute;
  width: 117px;
  height: 35px;
  left: 140px;
  top: 44px;
  overflow: visible
}

#Rectangle_ {
  opacity: .3;
  fill: #fff
}

.Rectangle_ {
  position: absolute;
  overflow: visible;
  width: 117px;
  height: 35px;
  left: 0;
  top: 0
}

#ractangle-stroke_br {
  opacity: .5;
  fill: transparent;
  stroke: #707070;
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto
}

.ractangle-stroke_br {
  position: absolute;
  overflow: visible;
  width: 117px;
  height: 35px;
  left: 0;
  top: 0
}

#Low_to_High_bs {
  left: 17px;
  top: 8px;
  position: absolute;
  overflow: visible;
  width: 84px;
  line-height: 33px;
  margin-top: -9px;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  color: #3b3b3b
}

#Sort_by_Price_bt {
  left: 0;
  top: 0;
  position: absolute;
  overflow: visible;
  width: 109px;
  line-height: 33px;
  margin-top: -7.5px;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #3b3b3b
}

#sort_by_distance {
  position: relative;
  width: 273px;
  height: 73px
}

#Sort_by_Distance_bv {
  left: 55px;
  top: 0;
  position: absolute;
  overflow: visible;
  width: 140px;
  line-height: 33px;
  margin-top: -7.5px;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #000
}

#ID1-100 {
  position: absolute;
  width: 273px;
  height: 36px;
  left: 0;
  top: 37px;
  overflow: visible
}

#ID1 {
  left: 45px;
  top: 19px;
  position: absolute;
  overflow: visible;
  width: 6px;
  line-height: 33px;
  margin-top: -10px;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  color: #000
}

#ID100 {
  left: 206px;
  top: 19px;
  position: absolute;
  overflow: visible;
  width: 21px;
  line-height: 33px;
  margin-top: -10px;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  color: #000
}

#Path_8 {
  fill: #f2f1f1
}

.Path_8 {
  overflow: visible;
  position: absolute;
  width: 273px;
  height: 7px;
  left: 0;
  top: 4px;
  transform: matrix(1, 0, 0, 1, 0, 0)
}

#Path_9 {
  fill: #f64e00
}

.Path_9 {
  overflow: visible;
  position: absolute;
  width: 163px;
  height: 7px;
  left: 49px;
  top: 4px;
  transform: matrix(1, 0, 0, 1, 0, 0)
}

#Ellipse_8 {
  fill: #f64e00
}

.Ellipse_8 {
  position: absolute;
  overflow: visible;
  width: 15px;
  height: 15px;
  left: 40px;
  top: 0
}

#Ellipse_9 {
  fill: #fff
}

.Ellipse_9 {
  position: absolute;
  overflow: visible;
  width: 9px;
  height: 9px;
  left: 43px;
  top: 3px
}

#Ellipse_10 {
  fill: #f64e00
}

.Ellipse_10 {
  position: absolute;
  overflow: visible;
  width: 15px;
  height: 15px;
  left: 209px;
  top: 0
}

#Ellipse_11 {
  fill: #fff
}

.Ellipse_11 {
  position: absolute;
  overflow: visible;
  width: 9px;
  height: 9px;
  left: 212px;
  top: 3px
}

#Apartments_for_Sell_I_Manila__ {
  line-height: 33px;
  margin-top: 3rem;
  margin-left: 1rem;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #000
}

#ID4172_Rentals_available_on_Ha {
  line-height: 33px;
  margin-top: -9px;
  margin-left: 1rem;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  color: #000
}

#image_part-1 {
  position: relative;
  margin-bottom: 3rem
}

#image-22 {
  position: relative;
  width: 100%;
  height: 293px
}

#Rectangle_215 {
  fill: #f2f1f1
}

.Rectangle_215 {
  position: relative;
  overflow: visible;
  width: 100%;
  height: 293px;
  background-color: #f2f1f1;
  border-radius: 10px
}

#text {
  width: 100%;
  height: 63px
}

#House_of_Rent {
  width: 100%;
  line-height: 46px;
  padding-top: 4px;
  padding-left: 11px;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #000
}

#gps {
  opacity: .85;
  width: 21px;
  height: 21px
}

#Kamuning_Quezon_City {
  line-height: 25px;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  color: #000;
  width: 100%;
  padding-left: 18px;
  padding-right: 18px
}

#_2100 {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  color: #000;
  float: right
}

#house_of_rent_-_text {
  width: 100%;
  height: 185px
}

#image_2 {
  width: 100%;
  height: 185px
}

#Rectangle_172 {
  fill: #f2f1f1
}

.Rectangle_172 {
  position: absolute;
  overflow: visible;
  width: 250px;
  height: 293px;
  left: 0;
  top: 0
}

#image_cj {
  position: absolute;
  width: 250px;
  height: 185px;
  left: 0;
  top: 0;
  overflow: visible
}

#text_ck {
  position: absolute;
  width: 201px;
  height: 63px;
  left: 23px;
  top: 207px;
  overflow: visible
}

#House_of_Rent_cl {
  left: 42px;
  top: 0;
  position: absolute;
  overflow: visible;
  width: 117px;
  line-height: 46px;
  margin-top: -14px;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #000
}

#gps_cm {
  opacity: .85;
  position: absolute;
  width: 21px;
  height: 21px;
  left: 0;
  top: 2px;
  overflow: visible
}

#Kamuning_Quezon_City_cn {
  left: 3px;
  top: 48px;
  position: absolute;
  overflow: visible;
  width: 115px;
  line-height: 106px;
  margin-top: -47.5px;
  text-align: center;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  color: #000
}

#_2100_co {
  left: 168px;
  top: 48px;
  position: absolute;
  overflow: visible;
  width: 34px;
  line-height: 45px;
  margin-top: -17px;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  color: #000
}

.search-property-input {
  height: 55px;
  width: 25%;
  border: 1px solid #9e9e9e;
  border-bottom-left-radius: 10px
}

.search-property-btn {
  background: #3c928c;
  height: auto;
  padding: 13px 11px 8px 12px;
  width: auto;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  outline: 0 !important
}

.comman-theme-btn{
  background: #3c928c;
  height: auto;
  padding: 1% 2.5% 1% 2.5%;
  width: auto;
  color: #fff;
  outline: 0 !important;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.select-pro-image{
  height: 44px !important;
}

#magnifying-glass-property {
  height: 35px;
  width: auto
}

.col-half-offset {
  margin-left: 4.166666667%
}

.property-lists {
  padding-left: .75rem;
  padding-right: .75rem;
  margin-top: 1.75rem
}

#list_map {
  position: relative;
  width: 100%;
  height: 45px;
  overflow: visible;
  margin-top: 24%;
  --web-animation: fadein 0.3s ease-out;
  cursor: pointer
}

.Rectangle_181_color {
  background: #fe6a26
}

#Rectangle_181 {
  height: 100%;
  border-color: #b6b6b6;
  border-style: solid;
  border-top-width: 1px;
  border-left-width: 1px;
  border-bottom-width: 1px;
  border-right-width: 0;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  text-align: center;
  padding-top: 8%
}

.Rectangle_181 {
  width: 95px;
  height: 45px
}

#list_4 {
  width: 23px;
  height: 23px
}

.Rectangle_232_color {
  background: #f8f8f8
}

#Rectangle_232 {
  border-color: #b6b6b6;
  border-width: 1px;
  border-style: solid;
  height: 100%;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  padding-top: 8%
}

.Rectangle_232 {
  position: absolute;
  overflow: visible;
  width: 96px;
  height: 45px;
  left: 95px;
  top: 0
}

#gps_fa {
  width: 23px;
  height: 23px
}

#image_part-3 {
  position: relative
}

#MALE_BEDSPACE_IN_KAMUNING {
  position: relative;
  overflow: visible;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  color: #000
}

#Kamuning_Quezon_City_id {
  position: relative;
  overflow: visible;
  line-height: 42px;
  margin-top: -5.5px;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #000
}

#_2000_ {
  line-height: 42px;
  margin-top: -10.5px;
  text-align: right;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  color: #000
}

#image_223 {
  position: absolute;
  width: 279.653px;
  height: 171px;
  left: 886px;
  top: 123px;
  overflow: visible
}

#image_323 {
  width: 100%;
  height: 180px;
  margin-bottom: 22px
}

#image_123 {
  width: 100%;
  height: 383px;
  overflow: visible
}

#gps_1 {
  opacity: .85;
  position: relative;
  width: 18px;
  height: 18px;
  margin-top: -3px
}

#home_details {
  text-align: center;
  margin-top: 1.75rem
}

#Home_Details_be {
  width: 100%;
  line-height: 42px;
  margin-top: -8.5px;
  margin-bottom: 1.75rem;
  text-align: center;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #000;
  text-transform: uppercase
}

#condo {
  width: 100%;
  height: 123px
}

#condo_bg {
  opacity: .85;
  width: 61px;
  height: 61px
}

#condo_bh {
  width: 100%;
  line-height: 42px;
  margin-top: 0;
  text-align: center;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  color: #000
}

#ID4_beds {
  width: 67px;
  height: 126px
}

#bed {
  opacity: .85;
  width: 67px;
  height: 67px;
  overflow: visible
}

#ID4_Beds {
  width: 62px;
  line-height: 42px;
  margin-top: -10.5px;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  color: #000
}

#bath {
  width: 68px;
  height: 120px
}

#bath_bm {
  opacity: .85;
  width: 55px;
  height: 55px
}

#ID2_Baths {
  width: 69px;
  line-height: 42px;
  margin-top: -10.5px;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  color: #000
}

#mp {
  width: 98px;
  height: 120px
}

#Rectangle_119 {
  opacity: .85;
  fill: transparent;
  stroke: #fe5404;
  stroke-width: 3px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto
}

.Rectangle_119 {
  overflow: visible;
  width: 55px;
  height: 55px
}

#mp_bq {
  overflow: visible;
  width: 30px;
  line-height: 38px;
  margin-top: -9.5px;
  text-align: left;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  color: #000
}

#ID2180_Sq_Ft {
  width: 99px;
  line-height: 42px;
  margin-top: -10.5px;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  color: #000
}

#garage {
  width: 83px;
  height: 120px;
  overflow: visible
}

#vehicle {
  opacity: .85;
  width: 55px;
  height: 55px
}

#ID1_Garage {
  width: 84px;
  line-height: 42px;
  margin-top: -10.5px;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  color: #000
}

#amenity_details {
  width: 100%;
  height: 100%;
  overflow: visible;
  margin-top: .75rem
}

.amenity_details {
  margin-top: .75rem
}

#Amenity_Details_ {
  width: 100%;
  line-height: 0;
  margin-left: -14px;
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 2.75rem;
  color: #000
}

#basment {
  width: 121px;
  height: 28px;
  margin-bottom: 1.75rem
}

#Rectangle_120 {
  fill: #fff;
  stroke: #707070;
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto
}

.Rectangle_120 {
  position: absolute;
  overflow: visible;
  width: 18px;
  height: 18px;
  left: 0;
  top: 6px
}

#Basment_bz {
  left: 41px;
  top: 0;
  position: absolute;
  overflow: visible;
  width: 81px;
  line-height: 42px;
  margin-top: -10.5px;
  text-align: center;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  color: #000
}

#property_details {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 4rem
}

#A_private_bedroom_is_available {
  width: 100%;
  line-height: 30px;
  margin-top: 7.5px;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #000
}

#Property_Details_cq {
  width: 100%;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #000;
  text-transform: uppercase
}

#contact_property_owneragent {
  position: relative;
  width: 100%;
  height: 472px;
  border: 2px solid #707070;
  background-color: #fff
}

#Rectangle_123 {
  fill: #fff;
  stroke: #707070;
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto
}

.Rectangle_123 {
  position: absolute;
  overflow: visible;
  width: 420px;
  height: 497px;
  left: 0;
  top: 0
}

#CONTACT_PROPERTY_OWNERAGENT_ {
  width: 100%;
  line-height: 42px;
  margin-top: 12px;
  text-align: center;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #000
}

.quote-form-fileds {
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 15px;
  width: 100%;
  height: 55px
}

#Rectangle_68 {
  fill: #fff;
  stroke: #707070;
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto
}

.Rectangle_68 {
  position: absolute;
  overflow: visible;
  width: 378px;
  height: 55px;
  left: 0;
  top: 0
}

#Rectangle_69 {
  opacity: .85;
  fill: #fe5100
}

.Rectangle_69 {
  position: absolute;
  overflow: visible;
  width: 6px;
  height: 53px;
  left: 1px;
  top: 1px
}

#Your_Name {
  left: 18px;
  top: 18px;
  position: absolute;
  overflow: visible;
  width: 75px;
  line-height: 104px;
  margin-top: -44.5px;
  text-align: center;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #000
}

#email_address {
  position: absolute;
  width: 378px;
  height: 55px;
  left: 21px;
  top: 155px;
  overflow: visible
}

#Rectangle_68_cz {
  fill: #fff;
  stroke: #707070;
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto
}

.Rectangle_68_cz {
  position: absolute;
  overflow: visible;
  width: 378px;
  height: 55px;
  left: 0;
  top: 0
}

#Rectangle_69_c {
  opacity: .85;
  fill: #fe5100
}

.Rectangle_69_c {
  position: absolute;
  overflow: visible;
  width: 6px;
  height: 53px;
  left: 1px;
  top: 1px
}

#Email_Address_c {
  left: 19px;
  top: 18px;
  position: absolute;
  overflow: visible;
  width: 93px;
  line-height: 104px;
  margin-top: -44.5px;
  text-align: center;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #000
}

#contact_number {
  position: absolute;
  width: 378px;
  height: 55px;
  left: 21px;
  top: 235px;
  overflow: visible
}

#Rectangle_68_c {
  fill: #fff;
  stroke: #707070;
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto
}

.Rectangle_68_c {
  position: absolute;
  overflow: visible;
  width: 378px;
  height: 55px;
  left: 0;
  top: 0
}

#Rectangle_69_da {
  opacity: .85;
  fill: #fe5100
}

.Rectangle_69_da {
  position: absolute;
  overflow: visible;
  width: 6px;
  height: 53px;
  left: 1px;
  top: 1px
}

#Contact_Number_c {
  left: 19px;
  top: 18px;
  position: absolute;
  overflow: visible;
  width: 111px;
  line-height: 104px;
  margin-top: -44.5px;
  text-align: center;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #000
}

#submit {
  position: absolute;
  width: 376px;
  height: 55px;
  left: 23px;
  top: 315px;
  overflow: visible
}

#Rectangle_2_c {
  fill: #209790
}

.Rectangle_2_c {
  position: absolute;
  overflow: visible;
  width: 376px;
  height: 55px;
  left: 0;
  top: 0
}

#Submit_c {
  left: 153px;
  top: 14px;
  position: absolute;
  overflow: visible;
  width: 72px;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  color: #fff
}

#or_contact_us_on_WhatsAppviber {
  width: 100%;
  text-align: center;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #000;
  padding-top: 8%
}

.social-contact-wp {
  text-align: center;
  padding-top: 15px
}

#whatsapp {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  margin-right: 10px
}

#messenger {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  margin-right: 10px
}

#neighhood {
  position: absolute;
  width: 1178px;
  height: 628px;
  left: 30px;
  top: 1511px;
  overflow: visible
}

.comman-margin-top {
  margin-top: 2.75rem
}

.Neighborhood-Description {
  margin-top: 2.75rem
}

#tony-lee-8IKf54pc3qk-unsplash {
  position: relative;
  width: 171px;
  height: 171px;
  overflow: visible;
  margin-bottom: 15px
}

#GoogleMapTA {
  position: relative;
  width: 767px;
  height: 543px
}

#SchoolRetailTransportation {
  width: 288px;
  line-height: 30px;
  margin-top: 1.75rem;
  margin-bottom: .95rem;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  color: #000
}

#school {
  width: 100%;
  height: 46px
}

#Rectangle_125 {
  background: #fff;
  border: 1px solid rgb(212 212 212);
  height: 100%;
  border-radius: 10px;
  padding-top: 8.5px;
  padding-left: 12.5px
}

.Rectangle_125 {
  width: 100%;
  height: 46px
}

#Schools {
  width: 55px;
  line-height: 30px;
  margin-top: -7px;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000
}

#school_dr {
  opacity: .85;
  width: 32px;
  height: 26px
}

#Rectangle_125_dt {
  opacity: .2;
  fill: #fe5100;
  stroke: #fe5100;
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto
}

.Rectangle_125_dt {
  position: absolute;
  overflow: visible;
  width: 255px;
  height: 46px;
  left: 0;
  top: 0
}

#kamuning-quezon_city {
  position: relative;
  width: 100%;
  height: 408px;
  overflow: visible
}

#Rectangle_204 {
  opacity: 1;
  background: #fff;
  height: 90%;
  border-radius: 10px
}

.Rectangle_204 {
  box-shadow: 0 0 20px -5px rgba(0, 0, 0, .451);
  position: relative;
  overflow: visible;
  width: 100%;
  height: 453px;
  border-radius: 10px
}

#pexels-boonkong-boonpeng-11341 {
  width: 100%;
  height: 230px
}

#KamuningQuezon_City {
  width: 100%;
  text-align: center;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  color: #000;
  padding-top: 10px
}

#ID728_N_Morgan_St_ChicagoIL606 {
  width: 100%;
  text-align: center;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #000;
  padding-top: 12px
}

#Studio-3_Bed__1564-10867 {
  width: 100%;
  text-align: center;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #000;
  padding-top: 20px
}

.listin-for-rent {
  margin-top: 3.75rem;
  margin-bottom: 3.75rem
}

.white-comman-btn {
  background: #fff;
  padding: 2% 9% 3% 9%;
  border: 2px solid #d2d2d2;
  border-radius: 10px;
  font-weight: 500;
  font-size: 14px;
  outline: 0 !important
}

.comman-orange-btn {
  background: #ef6936;
  color: #fff;
  padding: 2% 8% 3% 8%;
  border-radius: 10px;
  font-weight: 500;
  font-size: 14px;
  outline: 0 !important
}

.form {
  padding-right: 23%;
  padding-left: 1%;
  padding-top: 4%
}

.input-range__track--active {
  background: #ef6936 !important
}

.input-range__slider {
  background: #ef6936 !important;
  border: 1px solid #ef6936 !important
}

#listing_information {
  position: relative;
  width: 100%
}

#LISTING_INFORMATION_u {
  overflow: visible;
  width: 100%;
  line-height: 103px;
  text-align: center;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  color: #000;
  margin-bottom: 5%
}

#monthly_rent {
  width: 240px;
  height: 45px;
  overflow: visible;
  margin-bottom: 10%
}

#down {
  opacity: .85;
  position: absolute;
  width: 18px;
  height: 18px;
  left: 217px;
  top: 13.787px;
  overflow: visible
}

#Rectangle_ {
  fill: #fff;
  stroke: #707070;
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto
}

.Rectangle_ {
  position: absolute;
  overflow: visible;
  width: 240px;
  height: 45px;
  left: 0;
  top: 0
}

#orange_ractangle {
  opacity: .85;
  fill: #fe5100
}

.orange_ractangle {
  position: absolute;
  overflow: visible;
  width: 6px;
  height: 43px;
  left: 0;
  top: .5px
}

#Monthely_Rent {
  left: 18px;
  top: 12.222px;
  position: absolute;
  overflow: visible;
  width: 99px;
  line-height: 104px;
  margin-top: -44.5px;
  text-align: center;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #000
}

#ac {
  position: relative;
  width: 100%;
  height: auto
}

#ac_bw {
  position: relative;
  width: 100%;
  height: 20px;
  margin-bottom: 10%;
  overflow: visible
}

#check_box {
  fill: #fff;
  stroke: #707070;
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto
}

#AC_by {
  left: 47px;
  top: 0;
  position: absolute;
  overflow: visible;
  width: 26px;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #000
}

#AMENITIES_RULES {
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  color: #000;
  margin-bottom: 10%
}

#select_ {
  position: relative;
  width: 300px;
  height: 45px;
  margin-bottom: 15%
}

#Rectangle__da {
  fill: #fff;
  stroke: #707070;
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto
}

.Rectangle__da {
  position: absolute;
  overflow: visible;
  width: 300px;
  height: 45px;
  left: 0;
  top: 0
}

#orange_ractangle_db {
  opacity: .85;
  fill: #fe5100
}

.orange_ractangle_db {
  position: absolute;
  overflow: visible;
  width: 6px;
  height: 43px;
  left: 0;
  top: 1px
}

.preview-image {
  margin-top: 10%
}

.preview-image img {
  width: auto;
  height: 200px
}

.close-preview-img {
  position: absolute;
  top: 5%;
  color: #9e9e9e;
  font-weight: 400;
  cursor: pointer
}

#Select__dc {
  left: 16px;
  top: 13px;
  position: absolute;
  overflow: visible;
  width: 45px;
  line-height: 104px;
  margin-top: -44.5px;
  text-align: center;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #000
}

#down_dd {
  opacity: .85;
  position: absolute;
  width: 18px;
  height: 18px;
  left: 277px;
  top: 13.787px;
  overflow: visible
}

#select_type {
  position: relative;
  width: 300px;
  height: 45px;
  margin-bottom: 15%
}

#Rectangle__df {
  fill: #fff;
  stroke: #707070;
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto
}

.Rectangle__df {
  position: absolute;
  overflow: visible;
  width: 300px;
  height: 45px;
  left: 0;
  top: 0
}

#orange_ractangle_dg {
  opacity: .85;
  fill: #fe5100
}

.orange_ractangle_dg {
  position: absolute;
  overflow: visible;
  width: 6px;
  height: 43px;
  left: 0;
  top: 1px
}

#ADD_dh {
  position: relative;
  width: 179px;
  height: 47px;
  overflow: visible
}

#Rectangle__di {
  fill: #209790
}

.Rectangle__di {
  position: absolute;
  overflow: visible;
  width: 179px;
  height: 47px;
  left: 0;
  top: 0
}

#ADD_dj {
  left: 73px;
  top: 14px;
  position: relative;
  overflow: visible;
  width: 34px;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  color: #fff
}

#about_the_property {
  position: relative;
  width: 100%
}

.long_textArea {
  background: #fff;
  border: 1px solid rgb(197 197 197);
  resize: none;
  height: 150px;
  width: 100%;
  padding: 3% 1% 1% 1%;
  border-radius: 3px;
  font-size: 18px;
  outline: 0;
  margin-bottom: 4%
}

#upload_photo {
  position: relative;
  margin-top: 10%;
  width: 100%;
  height: 100%;
}

#Rectangle__dw {
  background: transparent;
  border: 1px dotted #707070;
  cursor: pointer;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 15%;
  padding-bottom: 12%;
}

.Rectangle__dw {
  width: 100%;
  height: 100%;
}

#Upload_Photo__text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  color: #000
}

#upload {
  opacity: .85;
  width: 72px;
  height: 72px;
}

.left-side-title {
  position: relative;
  overflow: visible;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  color: #000
}

.left-side-title h4{
  font-weight: 600;
}

.inner-title{
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #000;
  margin-top: 10px;
  margin-bottom: 10px;
}

.inner-title h6{
  font-weight: 600;
}

.orange-line {
  border: 2px solid #ee5004;
  border-radius: 12px;
  width: 60%
}

.comman-img-class {
  width: 100%;
  height: 100%
}

.theme-checkbox {
  height: 30px;
  width: 30px
}

.checkbox-text {
  position: relative;
  overflow: visible;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  color: #000;
  margin-left: 10px
}

.add_new_property_checkbox {
  margin-top: 3.5%;
  width: 100%;
  display: flex;
  cursor: pointer
}

.text-area-label {
  position: absolute;
  top: 2%;
  left: 1.3%;
  font-size: 22px;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.nav-tabs .nav-item {
  font-size: 20px;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #000 !important
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border-bottom: 2px solid #ff5722 !important
}

.nav-tabs .nav-link {
  border: 0 !important
}

.nav-tabs {
  border-bottom: 2px solid #dee2e6 !important
}

.facebook-login-section {
  margin-top: 1.75rem
}

.facebook-login-box {
  height: 50px;
  width: 100%;
  background-color: #1976d2;
  border-radius: 50px
}

.sign-with-google-section {
  margin-top: .95rem
}

.sign-with-google-box {
  height: 50px;
  width: 100%;
  background-color: #ecebeb;
  border-radius: 50px
}

.social-icon-with-text {
  padding-top: 8px;
  cursor: pointer
}

.social-icon-with-text img {
  padding-right: 14px;
  padding-left: 43px;
  margin-top: -6px
}

.social-login-text {
  font-size: 21px;
  color: #fff;
  padding-left: 20px;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.social-login-black-text {
  font-size: 21px;
  color: #000;
  padding-left: 20px;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.underlineText {
  text-align: center;
  padding-top: 10px;
  font-size: 24px;
  text-decoration: underline;
  padding-bottom: 10px
}

.input-label {
  position: absolute;
  top: 2px;
  left: 0;
  width: 100%;
  color: #000;
  transition: .2s all;
  cursor: text;
  padding-left: 10px;
  font-size: 12px
}

.extra-input-height-42{
  height: 42px;
}

/* 
.input-field {
  position: relative;
  width: 100%;
  height: 50px;
  line-height: 44px
}

.select-label {
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  color: #000;
  transition: .2s all;
  cursor: text;
  padding-left: 10px;
  font-size: 11px;
  margin-bottom: 0 !important;
  height: 10px
}

.input-field input {
  width: 100%;
  height: 100%;
  border: 0;
  outline: 0;
  padding-left: 10px;
  box-shadow: none;
  color: #000
}

input:invalid {
  outline: 0;
  color: #ff2300;
  border-color: #ff2300
}

.input-field:focus-within .input-label{
  font-size: 11px;
  top: -12px;
  color: #000
} */

.comman-input-area {
  background: #fff;
  border-left: 6px solid #ff5722;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-bottom: 30px
}

.comman-input-area-with-border {
  background: #fff;
  border-left: 6px solid #ff5722;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-bottom: 30px;
  border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
  border-right: 1px solid #d2d2d2;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.modal-header .close {
  outline: 0
}

.remember-me-area {
  display: inline-flex;
  width: 100%;
  margin-top: 4%
}

.remember-me-box {
  font-size: 14px;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.orange-link-text {
  color: #ff5722 !important;
  font-size: 14px;
  font-weight: 500
}

.orange-link-text-underline {
  color: #ff5722 !important;
  font-size: 12px;
  font-weight: 400;
  text-decoration: underline
}

.command-dropdown {
  outline: 0 !important;
  width: 100%;
  width: 100%;
  height: 100%;
  border: 0;
  padding-left: 10px;
  box-shadow: none;
  color: #000;
  background-image: url(../images/assets/down.svg);
  background-repeat: no-repeat;
  background-position: right;
  -webkit-appearance: none;
  font-size: 14px;
  background-color: #fff
}

.command-dropdown-with-border {
  outline: 0 !important;
  width: 100%;
  width: 100%;
  height: 100%;
  border: 0;
  padding-left: 10px;
  box-shadow: none;
  color: #000;
  background-image: url(../images/assets/down.svg);
  background-repeat: no-repeat;
  background-position: right;
  -webkit-appearance: none;
  font-size: 14px;
  border-top: 1px solid #d2d2d2;
  border-right: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #fff
}

.command-dropdown:focus .input-label {
  font-size: 11px;
  top: -12px;
  color: #000
}

.login-btn-area {
  margin-top: 6%
}

.form-submit-btn {
  font-size: 24px;
  color: #fff;
  background: #009688;
  width: 100%;
  padding-top: 4px;
  padding-bottom: 5px;
  border-radius: 6px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  outline: 0 !important
}

.form-submit-small-btn {
  font-size: 15px;
  color: #fff;
  background: #009688;
  width: 100%;
  padding-top: 6%;
  padding-bottom: 6%;
  border-radius: 6px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  outline: 0 !important
}

.create-form-submit-small-btn {
  font-size: 15px;
  color: #fff;
  background: #009688;
  width: 100%;
  padding-top: 6%;
  padding-bottom: 6%;
  border-radius: 6px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  outline: 0 !important
}

.modal-content {
  background-color: #f5f5f5 !important
}

.terms-of-use-text {
  text-align: center;
  font-size: 10px !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #9e9e9e;
  padding-top: 10px
}

.modal-container {
  padding-left: 15px;
  padding-right: 15px
}

.other-option {
  color: #000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 600
}

.other-option p {
  text-align: center
}

.modal-header {
  display: flex;
  justify-content: space-between;
  padding: 0 .25rem !important;
  border-bottom: none !important;
  border-top-left-radius: calc(.3rem - 1px);
  border-top-right-radius: calc(.3rem - 1px)
}

.social-icon-box {
  text-align: center;
  width: 100%
}

.add-property-header h6 {
  padding-top: 5px;
  padding-left: 10px;
  font-size: 22px;
  font-weight: 600;
  color: #ff5722
}

.add-property-header {
  display: flex
}

.modal-orange-line {
  border-bottom: 4px solid #e5e5e5;
  border-radius: 7px;
  margin-top: 4%;
  margin-bottom: 4%
}

.modal-orange-line:after {
  content: '';
  display: block;
  border-bottom: 4px solid #ff5722;
  margin-bottom: -3px;
  max-width: 90px;
  border-radius: 7px
}

.modal-head-line {
  font-size: 16px;
  color: #5d5d5d;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 38px;
  margin-bottom: 0;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border: 1px solid #bbb;
  border-radius: 3px
}


.checkbox-small-container {
  display: block;
  position: relative;
  padding-left: 24px;
  margin-bottom: 0;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.checkbox-small-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0
}

.checkmark-small {
  position: absolute;
  top: 4px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #fff;
  border: 1px solid #bbb;
  border-radius: 3px
}

.checkbox-container:hover input~.checkmark {
  background-color: #ef6936
}

.checkbox-container input:checked~.checkmark {
  background-color: #ef6936
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none
}

.checkbox-container input:checked~.checkmark:after {
  display: block
}

.checkbox-container .checkmark:after {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: solid #fff;
  margin: 0;
  border-radius: 2px
}

.footer-s4-linkes {
  user-select: none
}

.footer-s4-linkes li {
  cursor: pointer
}

.footer-ul-list {
  color: #5d5d5d
}

#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.notfound .notfound-404 {
  position: relative;
  height: 200px;
  margin: 0px auto 20px;
  z-index: -1;
}

.notfound .notfound-404 h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 236px;
  font-weight: 200;
  margin: 0px;
  color: #211b19;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound .notfound-404 h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  color: #211b19;
  background: #fff;
  padding: 10px 5px;
  margin: auto;
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}

.notfound a {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  color: #fff !important;
  text-transform: uppercase;
  padding: 13px 23px;
  background: #ff6300;
  font-size: 18px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  color: #ff6300;
  background: #bf3507;
}

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 h1 {
    font-size: 148px;
  }
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 {
    height: 148px;
    margin: 0px auto 10px;
  }
  .notfound .notfound-404 h1 {
    font-size: 86px;
  }
  .notfound .notfound-404 h2 {
    font-size: 16px;
  }
  .notfound a {
    padding: 7px 15px;
    font-size: 14px;
  }
}

.red-text{
  color: red;
  font-size: 12px;
}

.dropbtn {
  background-color: #009688;
  color: white;
  padding: 12px 20px 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #036b61;}


/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
    background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));

  background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 150ms infinite linear;
  -moz-animation: spinner 150ms infinite linear;
  -ms-animation: spinner 150ms infinite linear;
  -o-animation: spinner 150ms infinite linear;
  animation: spinner 150ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.data-not-found-alert-box{
  margin: 1%;
  height: 100px;
  width: 100%;
  border: 0.5px solid #b5b5b5;
  border-radius: 5px;
  background: #ececec;
}

.data-not-found-text{
  text-align: center;
  padding: 2.5%;
}

.data-not-found-text p{
  font-size: 18px;
  color: #ff5722;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.edit-or-delete{
  display: flex;
  float: right;
  margin-top: 14px;
}

.edit-property{
  margin-right: 12px;
}

.small-heading-title{
  text-align: center;
  font-weight: 700 !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}