/* mobile view css start */
@media only screen and (min-width: 320px) and (max-width: 480px) {
    .Havitat{
        font-size: 24px;
        left: 45%;
        top: 33px;
    }
    .header-end{
        display: none;
    }
    .responsive-menu{
        display: block;
    }
    .logo{
        position: absolute;
        width: 130px;
        height: 80px;
        left: 5px;
        top: 9px;
    }
    .Rectangle_183{
        position: absolute;
        width: 100px;
        height: 57px;
        left: 90%;
        top: 26px;
    }
    #Rectangle_183{
        font-size: 14px;
    }

    #sell{
        font-size: 14px;
        left: 70%;
        top: 41px;
    }
    #Rent_d{
        font-size: 14px;
        left: 80%;
        top: 41px;
    }
    #Rent{
        font-size: 16px;
    }
    #Sell{
        font-size: 16px;
    }
    #find_your_perfect_home{
        width: 100%;
        height: 400px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0.75rem;
    }
    #Find_Your_Parfect_Home{
        font-size: 22px;
    }
    #sale{
        width: auto;
        height: 35px;
    }
    #rentsale{
        margin-left: 15%;
        height: 35px;
    }
    #search{
        text-align: left;
        padding-left: 15%;
        height: 50px;
    }
    #Rectangle_165{
        left: 70%;
        height: 50px;
        width: 62px;
    }
    #magnifying-glass{
        height: 25px;
    }
    #Rectangle_164{
        width: 65%;
        font-size: 18px;
    }
    .Rectangle_184{
        height: 35px;
        width: 100px;
    }
    .Rectangle_166{
        height: 35px;
        width: 100px;
    }
    #image_dk{
        height: 100%;
    }
    #pexels-binyamin-mellish-106399{
        height: 100%;
        border-radius: 10px;
    }

    #Explore_neighborhoods_on_Havit{
        font-size: 24px;
        line-height: 40px;
    }

    #home-1{
        margin-bottom: 5%;
    }
    .title-underline{
        width: 15%;
    }

    .comman-para{
        font-size: 14px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .comman-margin-top{
        margin-top: 1.75rem;
    }
    #Best_properties_To_buy_in_Maka{
        font-size: 24px;
    }
    #up{
        left: 80%;
        top: 58%;
    }
    .image-1{
        width: 100%;
        top: 5%;
        height: 420px;
    }
    #ID01{
        height: 420px;
    }

    #_Havitat_Knowledge_Base_______{
        font-size: 24px;
    }
    #Everything_you_need_know_when_{
        font-size: 18px;
        padding-top: 8px;
    }
    #havitat_knowledge_base_cj{
        margin-left: 0;
    }
    #Rectangle_8{
        font-size: 15px;
        padding: 1% 6% 1% 6%;
        width: 80%;
    }
    .mobile-margin-top{
        margin-top: .75rem;
    }
    #RENTER_A_HOME{
        font-size: 16px;
    }
    #With_35filters_ana_custom_Keyw_ch{
        font-size: 14px;
    }
    #how-to-write-a-winning-offer-l{
        height: 90px;
        width: 90px;
    }
    #renter_home{
        margin-bottom: 3%;
    }
    #footer{
        margin-top: 0.25rem;
    }
    #subscribe{
        margin-left: auto;
        margin-right: auto;
    }
    #havitat_markets{
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
    }
    #___Houses_for_Rent_in_Makati_D{
        margin-top: .75rem;
    }
    #quick_links{
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
    }
    #About_us_Write_us_Terms__Condi{
        margin-top: .25rem;
    }

    #Became_a_Lessor_Seller_registr{
        margin-top: 0.75rem;
        float: right;
    }
    #Copyright_2020_Hevitet_Philipp{
        font-size: 13px;
        line-height: 15px;
        margin-top: 10px;
        text-align: center;
    }
    .socialIcon{
        margin-bottom: 39px;
        position: relative;
        margin-left: 19px;
    }

    #condo_bh{
        font-size: 16px;
        line-height: 36px;
    }

    .responsive-menu{
        left: 87%;
        position: absolute;
        top: 30%;
        font-size: 26px;
        background: transparent;
        color: #9E9E9E;
        outline: none !important;
    }

    .responsive-menu-button{
        color: #9E9E9E;
        background: transparent;
        outline: none !important;
    }
    .menu{
        position: absolute;
        z-index: 999;
        right: -13px;
        top: 42px;
    }
    .menu-item{
        width: 346px;
        background-color: #ffffff;
        padding: 5%;
        font-size: 16px;
        border: 0px !important;
    }

    .search-property-input{
        width: 50%;
        height: 54px;
    }
    #magnifying-glass-property{
        height: 25px;
    }
    .search-property-btn{
        padding: 4.25% 4% 4% 4%;
    }
    #property_type{
        height: 110px;
    }
    #list_map{
        margin-top: 10%;
    }
    .responsive-map-view{
        height: 100% !important;
    }
    .white-comman-btn{
        padding: 2% 9% 2% 9%;
    }
    .comman-orange-btn{
        padding: 2% 8% 2% 8%;
    }
    #Rectangle_181{
        padding-top: 9%;
    }
    #Rectangle_232{
        padding-top: 9%;
    }
    #_2000_{
        float: left;
        margin-top: 0px;
    }
    #image_123{
        height: 200px;
        margin-bottom: 20px;
    }
    .responsive-half-width{
        width: 50%;
    }
    .col-half-offset{
        margin-left: 0;
    }
    .responsive-50-half-width{
        width: 50%;
    }
    .checkbox-container{
        font-size: 15px;
    }
    #Amenity_Details_{
        text-align: center;
    }
    #Property_Details_cq{
        text-align: center;
    }

    #contact_property_owneragent{
        margin-top: 7%;
    }
    .form-submit-btn{
        font-size: 18px;
    }
    #tony-lee-8IKf54pc3qk-unsplash{
        width: 155px;
        height: auto;
        margin-left: -2px;
    }
    #Rectangle_125{
        margin-bottom: 15px;
    }
    .resposnive-pb-10{
        padding-bottom: 10px;
    }
    #Home_Details_be{
        margin-top: 10px;
    }
    .listin-for-rent{
        width: 100%;
        margin-bottom: 0;
    }
    #kamuning-quezon_city{
        margin-bottom: 10%;
    }

    #AMENITIES_RULES{
        margin-top: 8%;
        margin-bottom: 5%;
    }
    #select_{
        width: 100%;
        margin-bottom: 7%;
    }
    .comman-input-area{
        margin-bottom: 15px;
    }
    #select_type{
        width: 100%;
        margin-bottom: 7%;
    }
    #ADD_dh{
        width: 100%;
        text-align: center;
    }
    .form-submit-small-btn{
        width: 50%;
        padding: 3%;
        font-size: 16px;
    }
    #about_the_property{
        padding-right: 15px;
        padding-left: 15px;
    }
    .text-area-label{
        top: 5%;
        left: 7%;
    }

    .long_textArea{
        padding: 14% 3% 3% 4%;
    }

    .comman-img-class{
        padding-bottom: 15px;
    }

    #upload_photo{
        width: 100%;
        margin-top: 5%;
    }

    .responsive-container{
        padding-left: 15px;
        padding-right: 15px;
    }
    .responsive-bottom-pb-10{
        padding-bottom: 10%;
    }

    .social-login-text{
        font-size: 16px;
        padding-left: 15px;
    }
    .social-login-black-text{
        font-size: 16px;
        padding-left: 15px;
    }
    .social-icon-with-text img{
        margin-top: -3px;
    }

    .social-icon-box{
        width: auto;
    }
    .create-form-submit-small-btn{
        font-size: 14px;
        margin-bottom: 15px;
        padding: 4%;
    }

    .Rectangle_204{
        height: 410px;
    }
}
/* mobile view css end */

/* from here start tab view css */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .logo{
        width: 140px;
        left: 9px;
    }
    .Havitat{
        font-size: 28px;
        left: 35%;
        top: 33px;
    }
    #sell{
        top: 38px;
        left: 58%;
        font-size: 22px;
    }
    #Rent_d{
        top: 38px;
        left: 65%;
        font-size: 22px;
    }
    .Rectangle_183{
        left: 75%;
    }
    #find_your_perfect_home{
        margin-left: 0.75rem;
    }

    #Find_Your_Parfect_Home{
        font-size: 36px;
    }
    #rentsale{
        margin-left: 20%;
    }
    #Rectangle_164{
        width: 60%;
    }
    #search{
        height: 70px;
    }
    #Rectangle_165{
        height: 70px;
    }
    #find_your_perfect_home{
        height: 541px;
    }
    #image_dk{
        height: 541px;
    }
    #pexels-binyamin-mellish-106399{
        height: 541px;
    }
    #up{
        top: 55%;
    }

    #_Havitat_Knowledge_Base_______{
        font-size: 32px;
        width: 90%;
    }
    #Everything_you_need_know_when_{
        font-size: 18px;
    }
    #Rectangle_8{
        font-size: 16px;
        width: 90%;
    }
    #how-to-write-a-winning-offer-l{
        height: 80px;
        width: 80px;
    }

    #RENTER_A_HOME{
        line-height: 40px;
        font-size: 16px;
    }
    #With_35filters_ana_custom_Keyw_ch{
        font-size: 14px;
    }
    #quick_links{
        padding-top: 35px;
    }
    #About_us_Write_us_Terms__Condi{
        margin-top: 0;
    }

    #property_type{
        height: 120px;
    }
    #list_map{
        margin-top: 10%;
    }
    #Rectangle_181{
        padding-top: 8%;
    }
    #Rectangle_232{
        padding-top: 8%;
    }

    #image_123{
        height: 322px;
    }
    #image_323{
        height: 150px;
    }
    #condo_bh{
        font-size: 18px;
    }
    #contact_property_owneragent{
        height: 491px;
    }

    #CONTACT_PROPERTY_OWNERAGENT_{
        font-size: 16px;
    }
    .form-submit-btn{
        font-size: 18px;
    }
    #contact_property_owneragent{
        width: 50%;
        margin-top: 3rem;
        margin-left: 25%;
    }
    .resposnive-pb-10{
        padding-bottom: 10px;
    }
    #kamuning-quezon_city{
        height: 475px;
    }
    .rs-pt-5{
        padding-top: 5%;
    }

    .long_textArea{
        padding: 5% 1% 1% 2%;
    }
    #upload{
        height: 50px;
        width: 50px;
    }
    #Upload_Photo__text{
        font-size: 16px;
    }

    .search-property-input{
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }

    #magnifying-glass-property{
        height: 25px;
    }
    .search-property-btn{
        padding: 16px 13px 13px 12px;
    }
}