.input-field {
    position: relative;
    width: 100%;
    height: 44px;
    line-height: 41px;
  }
  label {
    position: absolute;
    top: 0;
    left: 10px;
    width: 100%;
    color: #000;
    transition: 0.2s all;
    cursor: text;
    font-size: 14px;
  }
  input {
    width: 100%;
    border: 0;
    outline: 0;
    padding: 0.5rem 10px;
    box-shadow: none;
    color: #111;
  }
  input:invalid {
    outline: 0;
    // color: #ff2300;
    //   border-color: #ff2300;
  }
  input:focus,
  input:valid {
    // border-color: #00dd22;
  }
  input:focus~label,
  input:valid~label {
    font-size: 11px;
    top: -11px;
    color: #000;
  }
  